* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: black;
  color: #f9fafd;
  line-height: 1.8;
  overflow-x: hidden;
  
  
}

@font-face {
  font-family: myFont;
  src: url( AMS\ MahaBharat.ttf);
}


:root {
  --primary: #f7f9fb;
  --secondary: #f7f8f2;
  --bg: #e45112;
  --card-bg: rgb(47, 1, 1);
  --heading: #fdfeff;
  --highlight: #cc8f14;
}


header {
  width: 100%;

  background: rgb(47, 1, 1);
  box-shadow: 0 3px 18px rgb(255, 0, 0);
  border-bottom: 4px solid white;
  border-radius: 10px;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 2;

}


.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: var(--primary);
  font-size: xx-large;
  line-height: 1.7rem;
  font-family: myFont;

  
}


.nav-links {
  display: flex;
  gap: 8px;

}

.nav-links a {
  color: var(--heading);
  text-decoration: underline 3px;
  text-decoration-skip-ink: auto;
  font-size: 1rem;
  transition: 0.3s;
  
}

.nav-links a:hover {
  color: var(--primary);
}





.main {
  height: 80vh;
  /* background: add an image */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1.5s ease;
  display: block;
  padding-top: 60px;
}

.main h2 {
  font-size: 2rem;
  color: var(--primary);
  line-height: 35px;
}

.main p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--secondary);
  line-height: 25px;
}


section {
  width: 90%;
  margin: 60px auto;
  animation: slideUp 1s ease forwards;
}

h2.section-title {
  text-align: center;
  color: var(--heading);
  margin-bottom: 20px;
  font-size: 2rem;
}


.card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 12px;
    box-shadow: 0 3px 18px rgb(255, 0, 0);
  margin-bottom: 20px;
  transition: 0.4s ease;
  border-left: 4px solid var(--primary);
}

.card:hover {
  transform: translateY(-5px);

   box-shadow: 0 12px 40px rgb(1, 17, 247);
  
}




form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  background: white;
  color:  black;
  border: 3px solid black;
  border-radius: 6px;
}

button {
  padding: 12px 20px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
}